/* estilos globais */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #e0e0e0;
}

i {
    margin-right: 5px;  
}
input {
    box-sizing: border-box;
}
ul {
    padding: 0;
}

/* Header - barra de navegação */
header {
    background-color: #1e1e1e;
}

.top-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
        width: 180px; /* Tamanho do logo ajustado, acho que ficou melhor de visualizar */
 }
.nav {
    display: flex;
    gap: 20px;  
}
nav a {
    color: #fff001;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    transition: .3s;
}
.nav a:hover {
    color: #52bfdd; /* Cor de destaque ao passar o mouse */
}
.user-options {
    display: flex;
    align-items: center;
    gap: 15px;
}
.user-options a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.user-options a:hover {
    color: #52bfdd; /* Cor de destaque ao passar o mouse */
}

.user-options input[type="text"] {
    padding: 8px;
    border: 1px solid #fff001 ;
    border-radius: 5px;
}
.container{
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}
.product-details{
    display: flex;
    gap: 40px;
}
/* imagens produto */
.product-gallery{
    flex: 1;
}
.product-gallery img{
    width: 100%; 
    border-radius: 10px;
}
.gallery-thumbnails{    
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.gallery-thumbnails img{
    width: 110px;
    border-radius: 5px;
    cursor: pointer; /* com javascript as imagens da thumb vão mudar conforme se clica */
    border: 2px solid transparent;
    transition: .3s;
}
.gallery-thumbnails img:hover{
    border: 2px solid #52bfdd; /* Cor de destaque ao passar o mouse */
}

/* infos produto */
.product-info {
    flex: 1;
}
.product-path,
.product-code {
    font-size: .9rem;
    color: #777;
    margin-bottom: 10px;
}
.product-info h2 {
    color: #fff001;
    font-size: 2.5rem;
}
.price {
    font-size: 2rem;
    color: #52bfdd;
    margin: 15px 0;
}
.rating {
    color: #81c784; /* cor verde para as estrelas */
}

/* Responsividade */
@media (max-width: 1024px) {
    .top-bar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .logo h1 {
        margin: 0;
    }
}